a {
    text-decoration: none;
    color: var(--main_color);
}
.hello {
    color: aliceblue;
}
.site-title {
    color: #800000;
    font-weight: 700;
}

#main-section {
    background: url("/images/blood1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 15vh);
    padding: 60px 0;
}
.site-logo img {
    width: 300px;
    border-radius: 10px;
}
#message {
    display: block;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 2;
}
